.nav__logo__img {
    width: 50px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 13px -3px rgb(0 0 0 / 10%);
    border-bottom: 1px solid #d2d2d2;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 0.5em 1em;
    /* margin-bottom: 1em; */
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: white;
    /* height: 78px; */
}

.nav__links {
    padding-right: 3em;
    text-decoration: none;
    color: #93ad18;
    width: 14em;
    text-align: right;
}

/* .nav__links:hover {
    color: #5a6f08;
} */

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Russo One';
    font-weight: normal;
    letter-spacing: 1px;
    margin-left: 10px;
    margin-right: 10px;
}

.title-HRnet {
    display: none;
}

@media (max-width: 596px) {
    .title-HRnet {
        display: block;
    }
    .title-CurrentEmployees {
        display: none;
    }
}
