.MuiDataGrid-root.MuiDataGrid-root--densityStandard.css-1e2bxag-MuiDataGrid-root {
    border: none;
}

.table {
    height: 84vh;
    width: 100%;
    margin-top: 7em;
}

@media (max-width: 596px) {
    .table {
        height: 79vh;
    }
}

@media (max-width: 312px) {
    .table {
        height: 73vh;
    }
}
